h1{
    color: #7A1755;
    width: 10%;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div2{
    display: flex;
    gap:40px;
    padding: 15px;
    margin-right: 10px;
}
.right-div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 15px;
}
.h{
   display: flex;
   flex-wrap: wrap;
   justify-content:space-between;
   margin-right: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
p{
    font-family: "Montserrat";
    color: #7A1755;
    font-weight: 500;
}
.explore{
    color: #7A1755;
    display: flex;
    font-size: 30px;
    margin: 10px;
    font-family: 'Schoolbell', arial, serif; 
    margin-left: 30px;
    padding-top: 15px;
    font-weight: 600;
}
.er{
    color: black;
    margin-top: 0px;
    font-family: "Schoolbell";
    font-weight: bold;
}
.div3{
    margin-left:125px;
    width: 35%;
    margin-top: 80px;
    
}
#text{
    font-size: 20px;
    margin-top: 70px;
    font-weight: 600;
    /* margin: 80px 0px 20px 0px; */
    
}
.text1{
    font-size: 60px;
    font-weight: 400;
    margin-top: 30px;
}
span{
    font-weight: bolder;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57%;
    
}
.image img{
    width: 100%;
    
    /* height: auto; */
    /* display: block; */
}

.drop-down{
    height: 60px;
    width: 600px;
    z-index: 100;
    position: relative;
    top:  30px;

}
select{
    padding-left: 20px;
    color: grey;
}

.div3 button{
    padding: 15px 40px;
    background-color: #7A1755;
    color: white;
    font-size: 15px;
    
}
.container-3 p{
    
    
    margin-left: 90px;
}
.container-4{
    width: 100%;
    display: flex;
    margin-top: 30px;
    /* border: 5px solid black; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    
}
.container-4 div{
    /* gap: 50px; */ 
    width: 25%;
    /* justify-content: center; */
   
}
.container-4 img{
  /* max-width: 400px; */
   width: 100%;
   height: 40%;
   /* margin: 0 auto; */
   /* border: 5px solid cyan; */
   
}
.title{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
.place{
    color: black;
}
.read{
    padding: 10px 20px;
    background-color: #7A1755;
    color: white;
}

.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F7F7F7;
    margin-top: 50px;
    height: 50rem;
}
.container-5 p{
     font-size: 20px;
     
}
.forms{
    height: 80%;
    width: 40%;
     /* align-items: center; */
    /* justify-content: center; */

}
#contact{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size: 40px; margin:0px 0px 0px 0px;
}
.sales{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    margin: 0px;
}
.name{
    margin: 35px 0px 4px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
.name-box{
    width: 100%;
    height: 10%;
    padding: 0%;
    
}
.home{
    margin: 25px 0px 4px 0px;
}
.home-drop-down{
    height: 10%;
    width: 100%;
}
.submit{
    
    margin-top: 35px;
    padding: 1.5% 4%;
    background-color: #7A1755;
    color: white;
    font-size: 15px;
}